/* RPG */

h3 {
    font-size: 14px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #ac856c;
}


h5 {
    font-size: 16px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #357F00;
}

h6 {
    font-size: 16px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #FF0018;
}

.rpg {
    padding: 25px;
    color: #777777;
    background-color: rgb(255, 255, 255);
    border-color: #dddddd;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    height: 500px;
}

.rpgWrap {
    padding: 25px 25px 0 25px;
    margin: 7px 25px 0px 25px;
    color: #EFFF0D;
    height: auto;
}

.rpgBG {
    padding: 0;
    margin: -9px -25px 0px -25px;
    height: 660px;
    background: url("../images/rpgBG.png") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.rpgNOBG {
    padding: 25;
    margin: -9px -25px 0px -25px;
    height: 100%;
}

.char { /* For acharacter not to stack one ontop of the other */
    display: inline-block;
  }

#rpgTop, #rpgMiddle, #rpgStatus {
    display: none;
    margin: 0 50px;
    min-width: auto;
    height: 235px;
}

#rpgMiddle {
    height: 230px;
}

#rpgStatus {
    height: 40px;
}

#rpgAttack {
    position: relative;
    display: none;
    margin: 0 50px;
    bottom: 280px;
}

#rpgBottom {
    display: none;
    margin: 10px 50px;
    padding: 20px 50px 60px 50px;
    background: rgba(0, 0, 0, 0.7);
}

/* Center Message */
#cMessage {
    position: relative;
    display: none;
    margin: 0 50px;
    bottom: 310px;
}

/* Center Message */
h3.box {
    margin: 0 auto;
    padding: 5px;
    max-width: 320px;
    text-align: center;
}

tr#defenderAttack {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
}

tr#characterAttack {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
}

/* Container for avatars and other items */
.box {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.rpgCenterTable, .rpgLeftTable, .rpgRightTable  {
    margin: 5px auto;
    text-align: center;
    min-width: 150px;
}

.rpgLeftTable {
    float: left;
}

.rpgRightTable {
    float: right;
}

.centerMessage {
    position: relative;
    margin: 150px auto;
    padding: 20px;
}

/* Win/Lose Message */
.centerMessageBox {
    background: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 400px;
    margin: 120px auto;
    padding: 15px;
}

th.playerTitle, th.enemyTitle  {
    width: 160px;
}

th.charactersTitle  {
    width: 100%;
}

tr#player, tr#enemy, tr#characters, tr#defeatedEnemies {
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.attack {
	-moz-box-shadow: 0px 1px 0px 0px #1c1b18;
	-webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
	background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
	background-color:#eae0c2;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:red;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.attack:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
	background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
	background-color:#ccc2a6;
}
.attack:active {
	position:relative;
	top:1px;
}